/* my styles  */
:root {
    --chat-primary-bg: #044054ae;
    --chat-primary-color: #fff;
    --chat-bubble-bg: #fff;
    --chat-bubble-color: rgba(0, 0, 0, .8);
    --chat-scroll-track-color: #f1f1f1;
    --chat-scroll-color: #7a7676;
}

.settings_row {
    border-bottom: 1px solid #ddd;
}

.bubble-container {
    width: 100%;
    position: static;
    margin: 10px auto;
    clear: both;
}

.chat-bubble {
    position: relative;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    background-color: var(--chat-bubble-bg);
    color: var(--chat-bubble-color);
    padding: 10px;
    font-weight: 400;
}

.bubble-container .left_bubble {
    float: left;
    margin-left: 3px;
}

.bubble-container .right_bubble {
    float: right;
    margin-right: 3px !important;
    background-color: #84a39f;
    color: #fff;
    text-align: right;
    font-weight: bold;
}

.chat-bubble.right_bubble::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #84a39f transparent transparent;
    bottom: 35%;
    right: -15px;
    transform: rotate(-90deg);
}

.chat-bubble.left_bubble::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: var(--chat-bubble-bg) transparent transparent;
    top: 35%;
    left: -15px;
    transform: rotate(90deg);
}

.bub_title {
    font-weight: bold;
}

.start-chat {
    flex: 1;
    overflow-y: visible;
    background-color: rgba(240, 239, 239, 0.5);
    width: 100%;
    overflow-x: hidden;
}

/* Scrollbar styling */
.start-chat::-webkit-scrollbar {
    width: 15px;
    /* Adjust scrollbar width */
}

.start-chat::-webkit-scrollbar-thumb {
    background-color: var(--chat-scroll-color);
    /* Adjust thumb color */
    border-radius: 5px;
    /* Adjust thumb border radius */
}

.start-chat::-webkit-scrollbar-track {
    background-color: var(--chat-scroll-track-color);
    /* Adjust track color */
}

.pageFrame {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.header-chat {
    background: white;
    padding: 10px;
    flex: 1;
}

.header-chat p {
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
}

.chat-input {
    border-top: solid 1px #84a39f;
    border-bottom: solid 1px #84a39f;
}

input#chat-input {
    border: none;
    font-family: inherit;
    width: 100%;
    height: 50px;
    resize: none;
    padding: 10px;
    font-size: 16px;
}

.spin {
    border: none;
    font-family: inherit;
    width: 100%;
    height: 50px;
    resize: none;
    padding: 10px;
    font-size: 16px;
}

button#send-it {
    border: none;
    width: 50px;
    font-weight: 700;
    padding: 2px 2px 0;
    background: var(--chat-bubble-bg);
    color: #84a39f;
    border-radius: 0px;
    float: right;
}

button#send-it svg {
    fill: var(--chat-primary-bg);
    height: 47px;
    width: 47px;
}

.blanter-msg {
    display: flex;
    position: sticky;
    left: 0;
    bottom: 0;
}

.page-content {
    max-height: 50px;
    /* Collapsed height */
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.page-content.expanded {
    max-height: 1000px;
    /* Large enough to display full content */
}

.assistant-chat-body {
    padding: 20px;
}

.spacing {
    flex: 1;
    margin-left: 25%;
    margin-top: 20vh;
}

.folder {
    margin-left: 25px;
}

.folder-title {
    cursor: pointer;
}

.config-row {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1;
    word-break: break-all;
    /* Add this line to wrap long text */
}

.file-name {
    margin: 0;
    padding: 0;
    word-break: break-all;
    /* Add this line to wrap long text */
}

.upload-status {
    word-break: break-all;
    /* Add this line to wrap long text */
    max-width: 200px;
    /* Adjust the width as needed */
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.send_it.disabled {
    pointer-events: none;
    opacity: 0.5;
}